<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6g-mm5y6uvsOj2YetYZsoqJ64G9zzdm4</string>
	<key>GCM_SENDER_ID</key>
	<string>650109837523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goAppDriver</string>
	<key>PROJECT_ID</key>
	<string>goapp-453be</string>
	<key>STORAGE_BUCKET</key>
	<string>goapp-453be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650109837523:ios:258e72ba4b4bbdcae8b426</string>
</dict>
</plist>